[submodule "FullStackRetrieval-com/RetrievalTutorials"]
	path = FullStackRetrieval-com/RetrievalTutorials
	url = https://github.com/FullStackRetrieval-com/RetrievalTutorials.git
[submodule "langchain-ai/rag-from-scratch"]
	path = langchain-ai/rag-from-scratch
	url = https://github.com/langchain-ai/rag-from-scratch.git
[submodule "karpathy/nn-zero-to-hero"]
	path = karpathy/nn-zero-to-hero
	url = https://github.com/karpathy/nn-zero-to-hero.git
[submodule "AritraSen/LLM_RAG_Model_Deployment"]
	path = AritraSen/LLM_RAG_Model_Deployment
	url = https://github.com/aritrasen87/LLM_RAG_Model_Deployment.git
